{% extends 'admin/admin_dashboard.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h3>Edit About Us Section</h3>
    <div class="about-form">
        <form method="POST" action="{% url 'edit_about' about_id=about_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            <div class="form-group mb-3">
                <label for="about_image">Image</label>
                <input type="file" name="about_image" class="form-control" id="">
            </div>
            <div class="form-group mb-3">
                <label for="short_desc">Short Description</label>
                <textarea rows="3" name="short_desc" class="form-control" id="edit_short_desc">{{about.short_desc}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="long_desc">Long Description</label>
                <textarea rows="5" name="long_desc" class="form-control" id="edit_long_desc">{{about.long_desc}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    CKEDITOR.replace('edit_short_desc');
    CKEDITOR.replace('edit_long_desc');
    var editor = CKEDITOR.instances['edit_short_desc', 'edit_long_desc'];
    editor.getData();
</script>

{% endblock %}