{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid blogs-page">
    {% for b in blogs %}
    <div class="card px-2 py-2 flex-md-row mb-4 mb-lg-0">
        <div class="card-text mb-3 mb-lg-0">
            <h3>{{b.blog_title}}</h3>
            <p>{{b.created_at}}</p>
            <p>{{b.short_desc}}</p>
            <a href="{% url 'blogs' blog_id=b.id %}">View Details</a>
        </div>
        <div class="card-image">
            <img src="{{b.blog_image.url}}" alt="" srcset="" height="200" width="250">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}