{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid blogs-page">
    {% for d in destinations %}
    <div class="card px-2 py-2 flex-md-row mb-4 mb-lg-0">
        <div class="card-text mb-3 mb-lg-0">
            <h3>{{d.title}}</h3>
        </div>
        <div class="card-image">
            {% if d.image %}
            <img src="{{d.image.url}}" alt="" srcset="" height="200" width="250">
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}