{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Header -->
<section>
    <div class="relative bg-gray-600 bg-no-repeat bg-center bg-cover bg-blend-overlay" {% if data.image %}
        style="background-image: url(/{{data.image.url}});" {% else %} style="background-image: url(../../static/images/inner_page_banner.jpg)" {% endif %}>
        <div class="absolute inset-0">
            <div class="absolute inset-0 bg-black-900" aria-hidden="true"></div>
        </div>
        <div class="relative max-w-7xl mx-auto py-28 px-4 sm:py-28 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-extrabold tracking-tight text-white sm:text-3xl lg:text-4xl text-uppercase">
                {{data.menu_name}}
            </h1>
        </div>
    </div>
</section>
{% endblock %}